<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <div class="background-text fadeIn">
    <span class="fadeIn">Portfolio</span>
  </div>
  <div class="content">
    <h1 class="head-text">Passionné par le développement <span>web</span> ,je me forme pour devenir un développeur  ↬ <span>full-stack </span>.</h1>
    <p class="header-p fade-in">Découvrez mes derniers <a href="/projects"><span class="special-word">projets</span></a></p>
    <section class="projects-slide">
      <% projects.slice(0, 3).forEach(function(project) { %>
        <a href="/project<%= project.href %>">
          <article class="projectindividual <%= project['type-preview'] === 'double' ? 'double' : '' %> fade-in">
            <p><%= project.name %><br><span class="light"><%= project.year %></span></p>
            <div class="icon-container">
              <% project.type.forEach(function(type) { %>
                <div class="icon-label <%= type %>"><%= type %></div>
              <% }); %>
            </div>
          </article>
        </a>
      <% }); %>
      <article class="projectindividual fade-in explore">
        <a href="/projects" class="nav-item explore-text">Explorer davantage </a>
      </article>
    </section>
  </div>
  <section class="about fade-in">
    <h1>À PROPOS</h1>
    <p class="header-p"><span class="special-word">Hamza, 23 ans</span>, ancien étudiant en design <br>Je suis impatient de relever de nouveaux défis et <br> opportunités qui me permettront de combiner <br> ma sensibilité au design avec mes compétences en développement.</p>
    <article class="full-screen-project"></article>
  </section>
  <section class="about fade-in">
    <h1>Contact</h1>
    <p class="header-p"><span class="special-word">Contactez-moi </span>  <br>Je suis à la recherche de nouveaux défis et <br> d'opportunités qui me permettront de combiner <br> ma sensibilité au design avec mes compétences en développement.</p>
</section>
</main>
<%- include('partials/footer') %>
<%- include('partials/foot') %>
