<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="background-text">
  <span>Projets</span>
</div>
<main>
    <h1 class="animate-h1 fade-in">Tout mon travail</h1>
    <p class="header-p fade-in">Découvrez tous mes <span class="special-word">projets</span></p>
    <section class="container-projects">
        <% projects.forEach(function(project) { %>
          <a href="/project<%= project.href %>">
            <article class="projectindividual <%= project['type-preview'] === 'double' ? 'double' : '' %> fade-in" >
              <p><%= project.name %><br><span class="light"><%= project.year %></span></p>
              <div class="icon-container">
                <% project.type.forEach(function(type) { %>
                  <div class="icon-label <%= type %>"><%= type %></div>
                  <% }); %>
              </div>
          </article>
          </a>
        <% }); %>
    </section>

    <section class="contact fade-in">

      <h1>Contact</h1>
      <p class="header-p"><span class="special-word">Contactez-moi </span>  <br>Je suis à la recherche de nouveaux défis et <br> d'opportunités qui me permettront de combiner <br> ma sensibilité au design avec mes compétences en développement.</p>

    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
